<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itunes Api</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app" :class="( color == 0 ) ? 'position-relative' : 'dark position-relative'">
        
        <!--Header-->
        <div class="header">
            <!--Dark & Light Mode-->
            <div class="top-nav container d-flex justify-content-between pt-4">
                <a href="" :class="(color == 0) ? 'text-white text-decoration-none' : 'text-black text-decoration-none'" onclick="javascript:window.location.reload();">Refresh</a>
                <div class="d-flex justify-content-center align-items-center">
                    <span>Theme:&nbsp;&nbsp;</span>
                    <label class="switch">
                        <input @click="theme" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            <!--Content before waves-->
            <div class="inner-header d-flex flex-column align-items-center justify-content-center container">
                <h2 :class="( color == 0 ) ? 'spin-title text-center' : 'spin-title text-center text-dark'">search on</h2>
                <h1 :class="( color == 0 ) ? 'title' : 'title dark-title'" data-fill-text="iTunes">iTunes</h1>
                <div class="reserch container d-flex justify-content-center align-items-center">
                    <div class="input w-25 mx-2">
                        <input @keyup.enter="firstCall" v-model="text" type="text" placeholder="Search for music, movie, podcast... " :class="( color == 0 ) ? 'rounded-pill p-3 shadow w-100' : 'rounded-pill p-3 shadow w-100 dark text-white'">
                    </div>
                    <div class="select">
                        <select @change="firstCall" v-model="value" :class="( color == 0 ) ? 'form-select col rounded-5 shadow my-4' : 'form-select col rounded-5 shadow my-4 dark text-white border-0'" aria-label="Default select example">
                            <option value="all">All</option>
                            <option value="movie">Movie</option>
                            <option value="music">Music</option>
                            <option value="musicVideo">Music and Video</option>
                            <option value="audiobook">Audiobook</option>
                            <option value="shortFilm">Short Film</option>
                            <option value="software">Software</option>
                            <option value="tvShow">Tv Show</option>
                            <option value="podcast">Podcast</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <span class="fs-5" :class="(color == 0) ? '' : 'text-dark'">Press Enter &crarr; to search</span>
                </div>
            </div>

            <!--Waves Container-->
            <div class="mb-5">
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" :fill="(color == 0) ? 'rgba(255,255,255,0.7' : 'rgba(43,43,43,0.7' " />
                <use xlink:href="#gentle-wave" x="48" y="3" :fill="(color == 0) ? 'rgba(255,255,255,0.5)' : 'rgba(43,43,43,0.5'" />
                <use xlink:href="#gentle-wave" x="48" y="5" :fill="(color == 0) ? 'rgba(255,255,255,0.3)' : 'rgba(43,43,43,0.3'" />
                <use xlink:href="#gentle-wave" x="48" y="7" :fill="(color == 0) ? '#fff' : '#141414'" />
                </g>
                </svg>
            </div>
            <!--Waves end-->
        </div>

        <!--Details-->
        <div v-if="counter != null" class="p-5">
            <div class="d-flex flex-column align-items-center details">
                <div class="main-info d-flex justify-content-between row">
                    <div>
                        <img class="my-thumb mb-3" :src="details.artworkUrl100" :alt="details.trackName">
                    </div>
                </div>
                <div class="mb-2 text-center" :class="(color == 0) ? 'text-white' : 'text-black'" >
                    <h1 class="mb-2">{{ details.trackName }}</h1>
                    <span class="fs-6">{{ details.artistName }}</span>
                </div>
                <hr>
                <div v-if="details.kind == 'feature-movie' " class="video mb-2" :class="(color == 0) ? 'text-white' : 'text-black'" >
                    <h1 class="mb-2 text-center fs-4">Trailer:</h1>
                    <video id="myVideo" width="500px" height="auto" preload="auto" :src="details.previewUrl" type="video/mp4" controls></video>
                </div>
                <div v-if="details.kind == 'song'"  class="audio mb-2" :class="(color == 0) ? 'text-white' : 'text-black'" >
                    <h1 class="mb-2 text-center fs-4">Preview:</h1>
                    <audio :src="details.previewUrl" type="audio/x-m4a" controls></audio>
                </div>
                <div :class="(color == 0) ? 'text-white' : 'text-black'" class="infos text-center my-5">
                    <h1 class="mb-2 text-center fs-3">Info:</h1>
                    <h4 class="fs-5">Album: {{ details.collectionName }}</h4>
                    <h4 class="fs-5">Genre: {{ details.primaryGenreName }}</h4>
                    <h4 class="fs-5">Release Date: {{ details.releaseDate }}</h4>
                </div>
                <div @click="hide" class="position-absolute rounded-circle d-flex justify-content-center align-items-center exit">
                    <i class="bi bi-x"></i>
                </div>
            </div>
        </div>

        <!--Main-->
        <div class="main container mt-5 py-5">
            <div v-if="firstSearch == 0 && results == null" class="start py-5 text-center">
                <h1 :class="( color == 0 ) ? 'result-text fs-1' : 'result-text text-white fs-1'">Start your research</h1>
                <span :class="( color == 0 ) ? 'text-black-50 fs-4' : 'text-white-50 fs-4'">Discover all the products in the Itunes catalog</span>
            </div>
            <div v-if="firstSearch == 1 && results == null || results == ''" class="empty py-5 text-center">
                <h1 :class="( color == 0 ) ? 'result-text fs-1' : 'result-text text-white fs-1'">No results found</h1>
                <span :class="( color == 0 ) ? 'text-black-50 fs-4' : 'text-white-50 fs-4'">Change your search criteria or make a new one</span>
            </div>
            <h3 v-if="results != null && results != ''" :class="(color == 0) ? 'text-center mb-5 result-text' : 'text-center mb-5 result-text text-white'">Results for '{{ text }}'</h3>
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-5 media">
                <div v-for="(element, index) in results" class="col">
                    <div class="my-card shadow-sm p-2 rounded-4 d-flex justify-content-center align-items-center flex-column" :class="( color == 0) ? '' : 'light-black text-white'" @click="show(index)">
                        <img :src="(element.artworkUrl60 != '') ? element.artworkUrl30 : `img/no-image.jpg`" alt="" :class="(element.kind != 'feature-movie') ? 'img-fluid rounded-circle mb-3 img-thumbnail shadow-sm max-height-15' : 'img-fluid mb-3 shadow-sm max-height-15'">
                        <div class="info text-center">
                            <h2 class="fs-4 text-center">{{ element.trackName }}</h2>
                            <span class="fs-6">{{ element.artistName }}</span>
                        </div>
                    </div>
                </div>
              </div>
        </div>

        <!--Navbar-->
        <div v-if=" firstSearch != 0 && results != ''" class="nav d-flex justify-content-center align-items-center py-5">
            <div v-if="offset != 0" @click="prvPage" class="my-btn shadow-sm rounded-circle d-flex justify-content-center align-items-center mx-2" :class="( color == 0) ? '' : 'light-black text-white'">
                <i class="bi bi-arrow-left-short"></i>
            </div>
            <div v-if="resultsLength >= 28 " @click="nxtPage" class="my-btn shadow-sm rounded-circle d-flex justify-content-center align-items-center mx-2" :class="( color == 0) ? '' : 'light-black text-white'">
                <i class="bi bi-arrow-right-short"></i>
            </div>
        </div>

        <!--Footer-->
        <footer class="p-2 text-center d-flex flex-column justify-content-center align-items-center">
            <h3 class="fs-6">Made by ElperdonXV - <a class="link-light" href="https://github.com/ElperdonXV">Github Portfolio</a></h3>
        </footer>
    </div>
    <script src="js/script.js"></script>
</body>
</html>